* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
   background-color: #5fb4db;
   padding: 5px; 
}
 h1 {
     cursor: pointer;
     color: #0f1c55;
     font-size: 40px;
 }
 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 section {
     margin-top: 10px;
 }
 ul li {
     display: inline-block;
     margin-left: 10px;
     list-style: none;
 }
 nav a {
     color: azure;
     text-decoration: none;
     font-size: large;
     font-weight: 400;
     transition: .5s ease;
 }
 a:hover {
     color: #86c7f3;
 }
 h2 {
     color: rgba(11, 226, 215, 0.582);
 }
 p {
     color: #cbd3d8;
 }
 h2, p {
     text-align: center;
     font-size: 30px;
     margin-top: 5px;
 }
 span {
     color: #2b83e7;
 }