h1 {
    color: red;

}
table {
    border: 1px solid #000;
    /* border-collapse: collapse; */
    display: flexbox;
    justify-content: center;
    align-items: center;
}
th {
    font-size: 25px;
    font-weight: 600;
    padding-top: 20px;
}

.box {
    color: red;
}
#inputBox {
    color: yellow;
}