body {
    background-color: #ccc;
  }
  
  #all {
    position: relative;
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    margin: 0 0 20px 0; 
  }
  
  p {
    margin: 0;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  
  #menu p {
    margin: 0;
    background-color: #000;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 3px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
  }
  
  #pic {
    margin-right: 20px;
  }
  
  #rating {
    position: absolute;
    left: 18%;
    top: 43%;
    background-color: green;
    color: #fff;
    font-size: 30pt;
    padding: 20px;
    margin: 5px;
  }
  
  #score {
    position:absolute;
    left: 27%;
    top: 50%;
	  width: 50%;
}
  
  #score h2 {
    margin-top: 0;
  }
  
  #score p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  #score ul {
    margin: 0;
    padding-left: 20px;
    padding-left: 40px;
  }
  
  #score li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  #score li:first-child {
    font-weight: bold;
  }
  