 * {
     padding: 0;
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     box-sizing: border-box;
 }
 body {
     display: block;
     justify-content: center;
     align-items: center;
  
 }

 div {
     margin: 0 auto;
     /* border: 2px solid #000; */
     text-align: center;
     margin-bottom: 10px;
 }
 img {
     margin: 0 auto;
     display: block;
     width: 100px;
 }
 input {
     display: block;
     width: 50%;
     margin-bottom: 10px;
     margin-right: auto;
     margin-left: auto; 
 }
 button {
     padding: 5px;

 }
 .blue {
     color: blue;
 }
 .orange {
     color: yellow;
 }
 .green {
     color: green;
 }
 .red {
     color: red;
 }
 sub {
	vertical-align: bottom;
	font-size: 10px;
	position: absolute;
	top: 46px;
}